@{
        string Prefix = "Facturas";
        string UrlClick = Url.Action("Edit", "Facturas");
        string UrlNew = Url.Action("New", "Facturas");
        string ImprimirReporteCartera = Url.Action("ImprimirReporteCartera", "Facturas");

        var DataGridConfig = new DataGridConfiguration<Facturas>(Prefix)
            .OnClick(UrlClick, new { Id = "Id" })
            //.New(UrlNew,DApp.ActionViewSecurity(Context,UrlNew))
            .Exports(true, true).SetStorage()
            .AddButtons(new List<ButtonToolbar>
            {
            new ButtonToolbar
            {
                Action = $"{Prefix}MostrarModalImImprimirCartera",
                Icon = "doc",
                Text = DApp.DefaultLanguage.GetResource("Admisiones.ImprimirCartera"),
                LocateInMenu = ToolbarItemLocateInMenuMode.Always,
                Location = ToolbarItemLocation.Before
            },

                
    
                new ButtonToolbar
                {
                    Action = $"{Prefix}MostrarModalImprimirTotalCartera",
                    Icon = "doc",
                    Text = DApp.DefaultLanguage.GetResource("Admisiones.ImprimirTotalCartera"),
                    LocateInMenu = ToolbarItemLocateInMenuMode.Always,
                    Location = ToolbarItemLocation.Before
                }
               })

        .ToolbarTop(DApp.DefaultLanguage.GetResource("Facturas"), "mainPanel");
}

<script>

    function @(Prefix)MostrarModalImImprimirCartera()
    {
        $("#@(Prefix)PopupImprimirCartera").dxPopup("instance").show();
    }

    function @(Prefix)ImprimirCartera() {

        $("#@(Prefix)Errores").html("");

        var entidadId = $("#@(Prefix)ReporteEntidadId").dxSelectBox("instance").option("value");

        if (entidadId == 0 || entidadId == "" || entidadId == null) {
            DevExpress.ui.notify("Error: La entidad es obligatoria.", "error", 4000);
            return false;
        }

        showLoadIndicator();
        $("#@(Prefix)PopupImprimirCartera").dxPopup("instance").hide();
        $.ajax({
            url: "@ImprimirReporteCartera",
            data: { entidadId: entidadId,  },
            type: 'POST',
            success: function (data) {
                $("#VisorReporteria").dxPopup("instance").show();
                $("#ContenidoReporte").html(data);
                hideLoadIndicator();
            },
            error: function (xhr) {
                console.log(xhr);
                hideLoadIndicator();
                DevExpress.ui.notify("Error: " + xhr.responseText, "error", 4000);
            }
        });
    }

</script>

<div class="box-body table-responsive no-padding">
    @(Html.DControls().DataGridSimple<Facturas>(DataGridConfig)
        .ID("FacturasDataGrid")
        .DataSource(d => d.Mvc().LoadMethod("POST").Controller("Facturas").LoadAction("Get").Key("Id"))
        .RemoteOperations(true)
        .Columns(columns =>
         {
             columns.AddFor(m => m.Entidades.Nombre).Caption(DApp.DefaultLanguage.GetResource("Facturas.AdquirienteJuridico"));
             columns.AddFor(m => m.Pacientes.NombreCompleto).Caption(DApp.DefaultLanguage.GetResource("Facturas.AdquirienteNatural"));
             columns.AddFor(m => m.Sedes.Nombre).Caption(DApp.DefaultLanguage.GetResource("Facturas.Sede"));

             columns.AddFor(m => m.Documentos.Prefijo);
             columns.AddFor(m => m.NroConsecutivo);
             columns.AddFor(m => m.Fecha).SortOrder(SortOrder.Desc);

             columns.AddFor(m => m.ValorCopagoCuotaModeradora);
             columns.AddFor(m => m.ValorTotal);
             columns.AddFor(m => m.Saldo);
             columns.AddFor(m => m.Estados.Nombre);
             columns.AddFor(m => m.TieneNotas);
             columns.AddFor(m => m.DIANResponse);
         })
)
</div>
<div class="row">
    <div class="col-md-12">
        @(Html.DControls().Popup()
            .ID($"{Prefix}PopupImprimirCartera")
            .Width(800)
            .Height(200)
            .ShowTitle(true)
            .Title(DApp.DefaultLanguage.GetResource("Admisiones.ImprimirCartera"))
            .Visible(false)
            .DragEnabled(false)
            .CloseOnOutsideClick(false)
            .ContentTemplate(new TemplateName($"{Prefix}TemplateImprimirCartera"))
        )

        @using (Html.DevExtreme().NamedTemplate($"{Prefix}TemplateImprimirCartera"))
        {
            <div id="@(Prefix)Errores" class="text-danger text-sm-left"></div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="@($"{Prefix}ReporteSedeId")">@DApp.DefaultLanguage.GetResource("Admisiones.ReporteEntidadId"):</label>
                    @(Html.DControls().SelectBox()
                        .ID($"{Prefix}ReporteEntidadId").InputAttr("class", "form-control")
                        .DataSource(d => d.Mvc().LoadMethod("POST").Controller(Prefix).LoadAction("GetEntidadesId").Key("Id"))
                        .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                        .ValueExpr("Id").DisplayExpr("NitYNombre").SearchExpr("NumeroIdentificacion", "Nombre")
                        .SearchEnabled(true).ShowClearButton(true)
                    )
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <button class="btn btn-dark btn" id="@(Prefix)ButtonAccept" onclick="@(Prefix)ImprimirCartera()">IMPRIMIR</button>
            </div>
        }
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        @(Html.DControls().Popup()
            .ID($"{Prefix}PopupImprimirTotalCartera")
            .Width(800)
            .Height(300)
            .ShowTitle(true)
            .Title(DApp.DefaultLanguage.GetResource("Admisiones.ImprimirTotalCartera"))
            .Visible(false)
            .DragEnabled(false)
            .CloseOnOutsideClick(false)
            .ContentTemplate(new TemplateName($"{Prefix}TemplateImprimirTotalCartera"))
        )

        @using (Html.DevExtreme().NamedTemplate($"{Prefix}TemplateImprimirTotalCartera"))
        {
            <div id="@(Prefix)Errores" class="text-danger text-sm-left"></div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="@($"{Prefix}ReporteSedeId")">@DApp.DefaultLanguage.GetResource("Admisiones.ReporteEntidadId"):</label>
                    @(Html.DControls().SelectBox()
                        .ID($"{Prefix}ReporteEntidadId").InputAttr("class", "form-control")
                        .DataSource(d => d.Mvc().LoadMethod("POST").Controller(Prefix).LoadAction("GetEntidadesId").Key("Id"))
                        .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                        .ValueExpr("Id").DisplayExpr("NitYNombre").SearchExpr("NumeroIdentificacion", "Nombre")
                        .SearchEnabled(true).ShowClearButton(true)
                    )
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="@($"{Prefix}ReporteFechaDesde")">@DApp.DefaultLanguage.GetResource("Admisiones.ReporteFechaDesde"):</label>
                    @(Html.DControls().DateBox().Value(DateTime.Now)
                        .ID($"{Prefix}ReporteFechaDesde").InputAttr("class", "form-control")
                        .DisplayFormat(DApp.DefaultLanguage.DateFormat).Placeholder(DateTime.Now.ToString(DApp.DefaultLanguage.DateFormat)).ShowClearButton(true).UseMaskBehavior(true)
                    )
                </div>
                <div class="form-group col-md-6">
                    <label for="@($"{Prefix}ReporteFechaHasta")">@DApp.DefaultLanguage.GetResource("Admisiones.ReporteFechaHasta"):</label>
                    @(Html.DControls().DateBox().Value(DateTime.Now)
                        .ID($"{Prefix}ReporteFechaHasta").InputAttr("class", "form-control")
                        .DisplayFormat(DApp.DefaultLanguage.DateFormat).Placeholder(DateTime.Now.ToString(DApp.DefaultLanguage.DateFormat)).ShowClearButton(true).UseMaskBehavior(true)
                    )
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <button class="btn btn-dark btn" id="@(Prefix)ButtonAccept" onclick="@(Prefix)ImprimirTotalCartera()">IMPRIMIR</button>
            </div>
        }
    </div>
</div>