@model JobModel
@{
    string Prefix = "Job";

    string UrlSave = Url.Action("Edit", "Job");
    string UrlNew = Url.Action("New", "Job");
    string UrlDelete = Url.Action("Delete", "Job", new { Id = Model.Entity.Id });
    string UrlBack = Url.Action("ListPartial", "Job");

    var ToolbarConfig = new ToolbarConfiguration(Prefix)
        .Title(DApp.DefaultLanguage.GetResource("Jobs"))
        .Save(DApp.ActionViewSecurity(Context, UrlSave), Model.Entity.IsNew)
        //.New(UrlNew, DApp.ActionViewSecurity(Context, UrlNew))
        //.Delete(UrlDelete, DApp.ActionViewSecurity(Context, UrlDelete), UrlBack, Model.Entity.IsNew)
        .Back(UrlBack);
}

<partial name="ViewJS.cshtml" model="Model" view-data="ViewData" />

@(Html.DControls().Toolbar(ToolbarConfig))

<div>
    <div id="JobMainPanelForm">
        <form id="@(Prefix)Form" asp-controller="Job" asp-action="Edit" class="form-horizontal" data-ajax-mode="replace" data-ajax-update="#mainPanel" data-ajax-success="@(Prefix)FormSuccess" data-ajax-failure="@(Prefix)FormFailure" data-ajax="true">
            @(Html.DControls().ValidationSummary().ValidationGroup(Prefix + "ValidationGroup").ElementAttr("class", "ErrorValidationSummary"))
            @using (Html.DevExtreme().ValidationGroup(Prefix + "ValidationGroup"))
            {
                @(Html.DControls().CheckBoxFor(m => m.Entity.IsNew).ID(Prefix + "IsNew").Visible(false))
                @(Html.DControls().NumberBoxFor(m => m.Entity.Id).ID(Prefix + "Id").Visible(false))
                @(Html.DControls().TextBoxFor(m => m.Entity.UpdatedBy).ID(Prefix + "UpdatedBy").Visible(false))
                @(Html.DControls().DateBoxFor(m => m.Entity.LastUpdate).ID(Prefix + "LastUpdate").Type(DateBoxType.DateTime).Visible(false))
                @(Html.DControls().TextBoxFor(m => m.Entity.CreatedBy).ID(Prefix + "CreatedBy").Visible(false))
                @(Html.DControls().DateBoxFor(m => m.Entity.CreationDate).ID(Prefix + "CreationDate").Type(DateBoxType.DateTime).Visible(false))
                @(Html.DControls().TextBoxFor(m => m.Entity.Class).ID(Prefix + "Class").Visible(false))

                @(Html.DControls().Form<JobModel>()
                    .ID("JobModelForm").LabelLocation(FormLabelLocation.Top).ShowValidationSummary(false).FormData(Model)
                    .Items(items =>
                    {
                        items.AddGroup().ColCount(12).Caption(DApp.DefaultLanguage.GetResource("DEFAULT.INFORMATIONGENERAL"))
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.Entity.Description).ColSpan(12)
                        .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("Jobs.Description")))
                        .ValidationRules(rules => rules.AddStringLength().Min(0).Max(255).Message(DApp.GetStringLengthResource("Jobs.Description", 255)))
                        .Editor(e => e.TextBox().ID(Prefix + "Description").ShowClearButton(true));

                            groupItems.AddSimpleFor(m => m.Entity.CronSchedule).ColSpan(9)
                        .ValidationRules(rules => rules.AddRequired().Message(DApp.GetRequiredResource("Jobs.CronSchedule")))
                        .ValidationRules(rules => rules.AddStringLength().Min(0).Max(100).Message(DApp.GetStringLengthResource("Jobs.CronSchedule", 100)))
                        .Editor(e => e.TextBox().ID(Prefix + "CronSchedule").ShowClearButton(true));

                            groupItems.AddSimpleFor(m => m.Entity.Active).Label(x => x.Visible(false)).ColSpan(3)
                        .Editor(e => e.CheckBox().ID(Prefix + "Active").Text(DApp.DefaultLanguage.GetResource("Jobs.Active")));

                        });
                    })
                    )
            }
        </form>

        @* Si el maestro maneja detalle descomentar el siguiente codigo y remplazar la palabra "MAESTRODETALLE" *@
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#MAESTRODETALLE" aria-controls="MAESTRODETALLE" role="tab" data-toggle="tab">
                        @DApp.DefaultLanguage.GetResource("JobLog")
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="MAESTRODETALLE">
                    <partial name="../JobLog/ListDetail.cshtml" model=Model view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
</div>

